&xiao_spi {
    status = "disabled";
};


// Not needed for low current consumption, but good to start a project with
// / {
//     internal {
//         compatible = "gpio-keys";
//         read_bat: read_bat {
//             gpios = <&gpio0 14 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_LOW)>; // Pull it to ground when set to 1. Default in high impedane mode.
//         };
//         iset: iset {
//             gpios = <&gpio0 13 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_LOW)>; // Pull it to ground when set to 1. Default in high impedane mode.
//         };
//     };

//     zephyr,user {
//         io-channels = <&adc 1>;
//     };

//     aliases {
//         read-bat = &read_bat;
//         iset = &iset;
//     };
// };

// &adc {
//     status = "okay";
//     #address-cells = <1>;
//     #size-cells = <0>;

//     // LiPo
//     channel@1 {
//         reg = <1>;
//         zephyr,gain = "ADC_GAIN_1_6"; // [MAX VALUE] = [REFERENCE] / [GAIN]
//         zephyr,reference = "ADC_REF_INTERNAL"; // 0.6V Reference
//         zephyr,acquisition-time = < ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40) >;
//         zephyr,input-positive = <NRF_SAADC_AIN7>; // P0.14
//         zephyr,resolution = < 12 >;
//     };
// };